<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<gw2-match-selector>
    <ul>
        {{#each matches}}
            <li class="match" data-match-id="{{id}}">{{id}}:
                <span class="red">{{world_names.red.[0]}}</span>
                <span class="blue">{{world_names.blue.[0]}}</span>
                <span class="green">{{world_names.green.[0]}}</span>
            </li>
        {{/each}}
    </ul>
    <h2>Points</h2>
    <div class="green points"></div>
    <div class="blue points"></div>
    <div class="red points"></div>
</gw2-match-selector>